:root{
    --cardheader: #457b9d;
    --cardbody: #e9ecef;
    --jumbotron: #1d3557;
    --text: #f1faee
}
.jumbotron {
    background-color: var(--jumbotron);
    color: var(--text);
}
.card-header{
    background-color: var(--cardheader);
    color: var(--text);
}
.card-body{
    background-color: var(--cardbody);
}
.customshadow {
    box-shadow: 10px 10px 20px var(--jumbotron);
}